body {
  background-color: navy;
}

button {
  height: 20px;
  width: 110px;
  margin: 10px auto;
  display: block;
}

div {
  background-color: cornflowerblue;
  height: 500px;
  width: 700px;
  margin: auto;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 335px;
  height: 150px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}
