body {
  background-color: navy;
}

p {
  font-size: 50px;
  text-align: center;
  font-family: arial;
  color: cornflowerblue;
  text-shadow: 2px 2px black;
}

.container {
  display: block;
}

.card {
  width: 335px;
  height: 150px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  margin: auto;
  text-align: center;
}

audio {
margin: auto;
position: relative;
top: -60px;
display: block;
}

.definition {
  width: 335px;
  height: 100px;
  background-color: grey;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: -60px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 1px solid black;
  margin: auto;
}

button {
  height: 25px;
  width: 150px;
  position: relative;
  right: -185px;
  top: -30px;
  margin: 40px;
}

.button-holder {
  position:relative;
  top: -20px;
}

.carousel-button {
  text-align: center;
  background: navy;
  height: 20px;
  width: 20px;
  color: white;
  justify-content: center;
  border-radius: 50%;
  margin: auto;
}

.generate-button {
  position: relative;
  right: -400px;
}
