body {
  background-color: navy;
}

div {
  height: 1000px;
  width: 600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.container {
  display: block;
}

.card {
  width: 335px;
  height: 150px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

audio {
margin: auto;
position: relative;
top: -60px;
display: block;
}

.definition {
  width: 335px;
  height: 100px;
  background-color: grey;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: -60px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 1px solid black;
}

button {
  height: 25px;
  width: 150px;
  position: relative;
  right: -185px;
  top: -30px;
  margin: 40px;
}
