body {
  background: #080808;
  color: whitesmoke;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}
header {
  padding: 6%;
  border-bottom: 1px solid #b5b3af;
  background-image: url('./images/background.jpeg');
}
a:hover img {
  cursor: pointer;
}
#resume {
  color: #b5b3af;
  text-decoration: none;
  font-style: italic;
}
ul li {
  list-style-type: none;
  margin: 1%;
}
.square {
  display: flex;
  border-bottom: 1px solid #b5b3af;
}
.square.one {
  background: linear-gradient(45deg, black, white);
}
.square.one a {
  width: auto;
}
.square.two {
  background: #222122;
}
.square.three {
  background: linear-gradient(45deg, black, #7c7c7c);
}
.square.two ul {
  margin-top: 5%;
}
.square a {
  display: block;
  text-align: left;
  color: whitesmoke;
  text-decoration: none;
  width: 50%;
}
.half-width {
  width: 50%;
}
.full-width {
  width: 100%;
}
#Amerimark,
#NCM,
#GA {
  width: 100%;
  padding: 3% 6%;
  padding-bottom: 0;
}
#Amerimark {
  width: 15%;
}
.container {
  display: flex;
}
footer img {
  width: 21%;
  margin-left: 2%;
}
footer {
  display: flex;
  align-items: center;
  background: black;
  color: #b5b3af;
}
#footer-bio {
  width: 45%;
  padding: 7%;
}
#footer-bio a {
  color: whitesmoke;
  background: #0a0a0a;
  display: flex;
  align-items: center;
  padding: 1%;
  margin: 2%;
  border-radius: 9px;
  text-decoration: none;
  width: fit-content;
}
#footer-bio a:hover {
  color: white;
  filter: brightness(60%);
}
footer #footer-bio img {
  width: 7%;
}
footer span {
  padding: 1px;
  margin-left: 2%;
  font-size: 20px;
}
@media only screen and (max-width: 750px){
  .half-width {
    width: 75%;
  }
  img {
    width: 100%;
  }
  .square.one {
    background: linear-gradient(45deg, black, #bfbfbf);
  }
  .square.two ul,
  .square.three ul {
    margin: 5% auto;
    padding: 0;
  }
  .square.two a,
  .square.three a {
    width: 100%;
    margin: 0 auto;
  }
  #Amerimark,
  #NCM,
  #GA {
    width: 90%;
  }
  #footer-bio {
    width: 100%;
    font-size: 88%;
  }
  footer img.headshot {
    width: 29%;
  }
}
