body {
  font-family: Helvetica;
}

div {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.red {
  background: red;
}
.green {
  background: green;
}
.blue {
  background: blue;
}
.purple {
  background: purple;
  height: 100px;
  width: 200px;
  transform: rotate(100deg);
  position: relative;
  top: 20px;
}
.black {
  background: black;
  height: 80px;
  width: 80px;
  transform: rotate(170deg);
  position: relative;
  right: 10px;
}
.grey {
  background: grey;
  height: 80px;
  width: 80px;
  position: relative;
  left: 200px;
  top: 20px;
}
.yellow {
  background: yellow;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin: 0 auto;
}
.cornflowerblue {
  background: cornflowerblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.lightgrey {
  background: lightgrey;
  height: 200px;
  width: 15px;
  position: relative;
  bottom: 10px;
}
