body {
  background-color: navy;
}

h1 {
  color: cornflowerblue;
  font-size: 70px;
  font-family: arial;
  text-shadow: 2px 2px black;
  cursor: pointer;
}
.container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  width: 400px;
  height: 135px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  margin: auto;
  text-align: center;
  display: block;
  padding-top: 60px;
  font-size: 25px;
}

audio {
margin: auto;
position: relative;
top: -90px;
justify-content: center;
display: block;
}

.definition {
  width: 400px;
  height: 200px;
  background-color: grey;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: -90px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 1px solid black;
  margin: auto;
  padding-top:60px;
  font-size: 25px;
}

.part-of-speech {
  font-style: italic;
  padding: 5px;
}

button {
  height: 25px;
  width: 150px;
  position: relative;
  right: -185px;
  top: -30px;
  margin: 40px;
}

.button-holder {
  position:relative;
  top: -20px;
}

.carousel-button {
  text-align: center;
  background: navy;
  font-size: 30px;
  width: 40px;
  height: 40px;
  color: white;
  justify-content: center;
  border-radius: 100%;
  margin: auto;
}

.previous {
  float: left;
  margin: 15px;
}

.next {
  float: right;
  margin: 15px;
}

.generate-button {
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 400px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 30px;
    padding-top: 10px;
    margin-bottom: 100px;
}

#modal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#modal-textbox {
  background-color: white;
  height: 300px;
  width: 550px;
  border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  text-align: center;
}

#close {
  margin: auto;
  margin-top: 50px;
  margin-right: 350px;
}

@media (min-width: 600px){
  h1 {
    font-size: 50px;
  }

  .card {
    width: 335px;
    height: 120px;
    padding-top: 30px;
    font-size: 20px;
  }

  audio {
  position: relative;
  top: -60px;
  }

  .definition {
    width: 335px;
    height: 150px;
    top: -60px;
    padding-top:30px;
    font-size: 20px;
  }

  .carousel-button {
    font-size: 20px;
    height: 30px;
    width: 30px;
  }
  .generate-button {
    width: 250px;
    height:20px;
    margin-bottom: 80px;
    font-size: 20px;
    padding: 10px;
    }
  }
}
