body {
  font-family: Helvetica;
  background: #a1bfa1;
}

div.plant {
  border: 1px solid lightgrey;
  background-size: cover;
  box-shadow: 2px 2px 1px #354e35;
  margin: 8px;
}
div.small-photo-container div.plant {
  box-shadow: 1px 1px 1px #354e35;
}
div.mid-photo-container div.plant {
  box-shadow: 1px 1px 1px #354e35;
}

div.plant:hover {
  box-shadow: 1px 1px 1px white;
  border: 1px solid #354e35;
}

div.photo-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid #354e35;
  background: #466946;
  padding: 8px;
}

div.mid-photo-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid #354e35;
  background: #466946;
  padding: 8px;
}

div.small-photo-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #354e35;
  background: #466946;
  padding: 8px;
}

span {
  font-size: 16px;
}
span.label {
  font-size: 20px;
}
span.instruction {
  font-style: italic;
  font-size: 14px;
}
span.click, span.click-mid, span.click-large {
  font-style: italic;
  font-size: 14px;
  height: fit-content;
  background: #708871;
  padding: 10px;
  border: 1px solid white;
  margin: 8px;
  margin-right: 6px;
}
span.click:hover, span.click-mid:hover, span.click-large:hover {
  cursor: pointer;
}

div.plant.grid-large {
  width: 200px !important;
  height: 200px !important;
}
div.plant.grid-mid {
  width: 80px !important;
  height: 80px !important;
}
div.plant.grid-small {
  width: 40px !important;
  height: 40px !important;
}

div.information {
  background: #ffffff;
  display: none;
  padding: 10px;
  padding-bottom: 0;
  height: fit-content;
  margin: 10px auto;
  z-index: 10;
}

div.information.showing {
  display: block;
}

img.thumbnail {
  width: 300px;
  height: 300px;
  margin: 25px;
  object-fit: cover;
}

span.close {
  cursor: pointer;
  font-size: 22px;
  float: right;
}

div.modal {
  display: none;
  background: #313131c7;
  position: absolute;
  top: 0;
  left: 0;
  height: 4500px;
  width: 100%;
  z-index: 0;
}

a.more  {
  float: left;
}
div.plant {
  color: transparent;
}
div.photo-container div.plant span {
  display: block;
}
div.photo-container img.butterfly {
  opacity: 0;
  float: left;
}
div.photo-container div.plant:hover span{
  color: black;
}
div.photo-container div.plant:hover img.butterfly {
  opacity: 1;
}
div.photo-container span.count {
  padding: 7px;
}
div.photo-container div.plant:hover span.hover {
  background: #ffffff87;
  height: 36px;
}
div.photo-container div.plant:hover span.name {
float: right;
margin-top: -29px;
margin-right: 4px;
}
div.photo-container div.plant.Amelanchier:hover span.name, div.photo-container div.plant.Viburnum:hover span.name {
  float: none;
}
div.photo-container div.plant.Cornus:hover span, div.photo-container div.plant.Solidago span, div.photo-container div.plant.Castanea span {
font-size: 13px;
}
div.photo-container div.plant.Amelanchier:hover span.hover, div.photo-container div.plant.Viburnum:hover span.hover {
  height:53px;
}

div.photo-container div.plant.grid-large.Amelanchier:hover span.name, div.photo-container div.plant.grid-large.Viburnum:hover span.name {
  float: right;
}
div.photo-container div.plant.grid-large.Cornus:hover span, div.photo-container div.plant.grid-large.Solidago span, div.photo-container div.plant.grid-large.Castanea span {
font-size: 14px;
}
div.photo-container div.plant.grid-large.Amelanchier:hover span.hover, div.photo-container div.plant.grid-large.Viburnum:hover span.hover {
  height:36px;
}

div.mid-photo-container img.butterfly, div.small-photo-container img.butterfly {
  opacity: 0;
}
