body {
  font-family: Helvetica;
  background-image: url('./images/bark.jpg');
  color: #5f2b07;
}
header {
  position: sticky;
  top: 0;
  background: #172709e8;
  border-bottom: 2px solid #5f2b07;
  text-shadow: 1px 1px #1e2712;
  color: #f4a065;
  width: 96%;
  padding: 10px;
  margin: 0 auto;
}
footer {
  background: #172709e8;
  border-top: 2px solid #5f2b07;
  width: 102%;
  text-shadow: 1px 1px #1e2712;
  color: #f4a065;
  padding: 10px;
  width: 96%;
  margin: 0 auto;
}
footer span {
  font-size: 14px;
}
a {
  color: #f4a065;
}
a:hover {
  font-weight: bold;
}
footer span:first-child {
  display: block;
  margin-top: 25px;
}
footer span:last-child {
  display: block;
  margin-top: 5px;
}
div.plant {
  border: 1px solid lightgrey;
  background-size: cover;
  box-shadow: 2px 2px 1px #354e35;
  margin: 8px;
}
div.plant.less-large {
  margin-top: 27px;
}
div.plant.less-less-large {
  margin-top: 68px;
}
div.grid div.plant.less-large,
div.grid div.plant.less-less-large {
  margin-top: 8px;
}
div.small-photo-container div.plant {
  box-shadow: 1px 1px 1px #354e35;
}
div.mid-photo-container div.plant {
  box-shadow: 1px 1px 1px #354e35;
}

div.plant:hover {
  box-shadow: 1px 1px 1px white;
  border: 1px solid #354e35;
}

div.photo-container, div.less-large-photo-container {
  width: 96%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid #5f2b07;
  background: #25190dd6;
  padding: 8px;
}

div.mid-photo-container {
  width: 96%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid #5f2b07;
  background: #25190dd6;
  padding: 8px;
}

div.small-photo-container {
  width: 96%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid #5f2b07;
  background: #25190dd6;
  padding: 8px;
}
div.small-photo-container .plant {
  margin: 25px;
}

span {
  font-size: 16px;
}
span.label {
  font-size: 20px;
  font-family: 'Rowdies', cursive;
  font-weight: 300;
}
span.instruction {
  font-style: italic;
  font-size: 14px;
}
span.click, span.click-mid, span.click-large, span.click-less-large {
  font-style: italic;
  font-size: 14px;
  height: fit-content;
  background: #708871;
  padding: 10px;
  border: 1px solid white;
  margin: 8px;
  margin-right: 6px;
}
span.click:hover, span.click-mid:hover, span.click-large:hover, span.click-less-large:hover {
  cursor: pointer;
}

div.plant.grid-large, div.plant.grid-less-large {
  width: 200px !important;
  height: 200px !important;
}
div.plant.grid-mid {
  width: 80px !important;
  height: 80px !important;
}
div.plant.grid-small {
  width: 40px !important;
  height: 40px !important;
}

div.information {
  background: #ffffff;
  display: none;
  padding: 10px;
  padding-bottom: 0;
  height: fit-content;
  border: 2px solid #364e35;
  box-shadow: 1px 1px 1px black;
}

div.information.showing {
  display: block;
}

img.thumbnail {
  width: 300px;
  height: 300px;
  margin: 25px;
  object-fit: cover;
}

span.close {
  cursor: pointer;
  font-size: 25px;
  float: right;
  margin-right: 2px;
}
/*
div.modal {
  display: none;
  background: #313131c7;
  position: absolute;
  top: 0;
  left: 0;
  height: 4500px;
  width: 100%;
  z-index: 0;
} */

a.more  {
  float: left;
}

div.plant {
  color: transparent;
}
div.photo-container div.plant span, div.less-large-photo-container div.plant span {
  display: block;
}
div.photo-container img.butterfly, div.less-large-photo-container img.butterfly {
  opacity: 0;
  float: left;
}
div.photo-container div.plant:hover span, div.less-large-photo-container div.plant:hover span {
  color: black;
}
div.photo-container div.plant:hover img.butterfly, div.less-large-photo-container div.plant:hover img.butterfly {
  opacity: 1;
}
div.photo-container span.count, div.less-large-photo-container span.count {
  padding: 7px;
}
div.photo-container div.plant:hover span.hover, div.less-large-photo-container div.plant:hover span.hover {
  background: #ffffff87;
  height: 36px;
}
div.photo-container div.plant:hover span.name, div.less-large-photo-container div.plant:hover span.name {
float: right;
margin-top: -44px;
margin-right: 4px;
}
div.less-large-photo-container div.plant.Amelanchier:hover span.name, div.less-large-photo-container div.plant.Viburnum:hover span.name {
  float: none;
}
div.less-large-photo-container div.plant.Cornus:hover span, div.less-large-photo-container div.plant.Solidago span, div.less-large-photo-container div.plant.Castanea span {
font-size: 13px;
}
div.less-large-photo-container div.plant.Cornus:hover span.name, div.less-large-photo-container div.plant.Solidago span.name, div.less-large-photo-container div.plant.Castanea span.name {
margin-top: -38px;
}
div.less-large-photo-container div.plant.Amelanchier:hover span.hover, div.less-large-photo-container div.plant.Viburnum:hover span.hover {
  height:53px;
}

div.less-large-photo-container div.plant.grid-less-large.Amelanchier:hover span.name, div.less-large-photo-container div.plant.grid-less-large.Viburnum:hover span.name {
  float: right;
}
div.less-large-photo-container div.plant.grid-less-large.Cornus:hover span, div.less-large-photo-container div.plant.grid-less-large.Solidago span, div.less-large-photo-container div.plant.grid-less-large.Castanea span {
font-size: 14px;
}
div.less-large-photo-container div.plant.grid-less-large.Amelanchier:hover span.hover, div.less-large-photo-container div.plant.grid-less-large.Viburnum:hover span.hover {
  height:36px;
}



div.plant {
  color: transparent;
}
div.mid-photo-container div.plant span {
  display: block;
}
div.mid-photo-container img.butterfly {
  opacity: 0;
  float: left;
}
div.mid-photo-container div.plant:hover span{
  color: black;
  font-size: 12px;
}
div.mid-photo-container div.plant:hover img.butterfly {
  opacity: 1;
  width: 22px;
}
div.mid-photo-container span.count {
  padding: 7px;
}
div.mid-photo-container div.plant:hover span.hover {
  background: #ffffff87;
  height: fit-content;
}
div.mid-photo-container div.plant span.name {
margin-top: -15px;
margin-right: 4px;
}
/* div.mid-photo-container div.plant.Spiraea:hover {
  width: 78px !important;
  height: 78px !important;
}
div.mid-photo-container div.plant.Sassafras:hover {
  width: 56px !important;
  height: 56px !important;
}
div.mid-photo-container div.plant.Nyssa:hover {
  width: 54px !important;
  height: 54px !important;
}
div.mid-photo-container div.plant.Gaylussacia:hover {
  width: 64px !important;
  height: 64px !important;
}
div.mid-photo-container div.plant.Sambucus:hover {
  width: 58px !important;
  height: 58px !important;
}
div.mid-photo-container div.plant.Physocarpus:hover {
  width: 51px !important;
  height: 51px !important;
}
div.mid-photo-container div.plant.Gleditsia:hover {
  width: 65px !important;
  height: 65px !important;
}
div.mid-photo-container div.plant.Aesculus:hover {
  width: 79px !important;
  height: 79px !important;
}
div.mid-photo-container div.plant.Ilex:hover {
  width: 47px !important;
  height: 47px !important;
}
div.mid-photo-container div.plant.Eupatorium:hover {
  width: 53px !important;
  height: 53px !important;
}
div.mid-photo-container div.plant.Platanus:hover {
  width: 55px !important;
  height: 55px !important;
}
div.mid-photo-container div.plant.Ceanothus:hover {
  width: 61px !important;
  height: 61px !important;
} */

div.mid-photo-container div.plant.Ceanothus:hover,
div.mid-photo-container div.plant.Platanus:hover,
div.mid-photo-container div.plant.Eupatorium:hover,
div.mid-photo-container div.plant.Ilex:hover,
div.mid-photo-container div.plant.Aesculus:hover,
div.mid-photo-container div.plant.Gleditsia:hover,
div.mid-photo-container div.plant.Physocarpus:hover,
div.mid-photo-container div.plant.Sambucus:hover,
div.mid-photo-container div.plant.Gaylussacia:hover,
div.mid-photo-container div.plant.Nyssa:hover,
div.mid-photo-container div.plant.Sassafras:hover,
div.mid-photo-container div.plant.Spiraea:hover {
  width: 80px !important;
  height: 80px !important;
}

div.small-photo-container img.butterfly {
  opacity: 0;
}
div.small-photo-container div.plant span {
  display: block;
}
div.small-photo-container img.butterfly {
  opacity: 0;
  float: left;
}
div.small-photo-container div.plant:hover span{
  color: black;
  font-size: 12px;
}
div.small-photo-container div.plant:hover img.butterfly {
  opacity: 1;
  width: 22px;
}
div.small-photo-container span.count {
  padding: 7px;
}
div.small-photo-container div.plant:hover span.hover {
  background: #ffffff87;
  height: fit-content;
}
div.small-photo-container div.plant span.name {
margin-top: -15px;
margin-right: 4px;
}
div.small-photo-container div.plant:hover {
  width: 70px !important;
  height: 70px !important;
}

@media only screen and (max-width: 400px){

  div.information {
    width: 325px;
  }
  body {
    width: 94%;
  }
  div.photo-container, div.less-large-photo-container, div.mid-container, div.small-photo-container {
    justify-content: center;
  }
  span.click-less-large {
    margin: 24px;
  }
}
