body {
  background: #080808;
  color: #b5b3af;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}
header {
  padding: 6%;
  border-bottom: 1px solid #b5b3af;
}
a:hover img {
  cursor: pointer;
}
#resume {
  color: #b5b3af;
  text-decoration: none;
  font-style: italic;
}
.square {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #b5b3af;
}
.square a {
  display: block;
  margin: 5%;
  text-align: center;
}
.half-width {
  width: 50%;
}
.full-width {
  width: 100%;
}
#Amerimark,
#NCM,
#GA {
  width: 100%;
  padding: 6%;
  padding-bottom: 0;
}
footer img {
  width: 21%;
  margin-left: 2%;
}
footer {
  display: flex;
  align-items: center;
  background: black;
  color: #b5b3af;
}
#footer-bio {
  width: 45%;
  padding: 7%;
}
#footer-bio a {
  color: whitesmoke;
  background: linear-gradient(180deg, #2c2c2c, #0a0a0a);
  display: flex;
  align-items: center;
  padding: 1%;
  margin: 2%;
  border-radius: 9px;
  text-decoration: none;
}
#footer-bio a:hover {
  color: white;
  filter: brightness(30%);
}
footer #footer-bio img {
  width: 7%;
}
footer span {
  padding: 1px;
  margin-left: 2%;
  font-size: 20px;
}
@media only screen and (max-width: 750px){
  .half-width {
    width: 75%;
  }
  #footer-bio {
    width: 100%;
    font-size: 88%;
  }
}
